fastapi
uvicorn
motor
pymongo
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
python-dotenv
opencv-python
mediapipe==0.10.14
protobuf==4.25.3
numpy<2.0.0
scikit-learn
razorpay
torch
torchvision
argon2_cffi